/* 
 * Custom Colors
 * ========================================================================== */

:root {
    --vp-c-custom-1: #187279;
    --vp-c-custom-2: #299097;
    --vp-c-custom-3: #309EA4;
    --vp-c-custom-soft: rgba(48, 173, 185, 0.1);
}

.dark {
    --vp-c-custom-1: #3DCCD6;
    --vp-c-custom-2: #309EA4;
    --vp-c-custom-3: #298184;
    --vp-c-custom-soft: rgba(31, 180, 185, 0.1);
}

/* 
 * Iconify
 * ========================================================================== */

.text-with-icon {
    display: flex;
    align-items: center;
}

.text-with-icon .iconify {
    margin-right: 0.5em;
}

.icon-left .iconify {
    /* default */
    margin-right: 0.5em;
}

.icon-right .iconify {
    margin-right: 0;
    margin-left: 0.5em;
}

.icon-middle .iconify {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* 
 * Card Custom Colors
 * ========================================================================== */

:root {
    --card-disabled-bg-1: #e0e0e0;
    --card-disabled-bg-2: #d0d0d0;
    --card-disabled-bg-3: #c0c0c0;
    --card-disabled-text-1: #888;
    --card-disabled-text-2: #777;
    --card-disabled-text-3: #666;

}

.dark {
    --card-disabled-bg-1: #19191b;
    --card-disabled-bg-2: #131313;
    --card-disabled-bg-3: #0d0d0d;
    --card-disabled-text-1: #656569;
    --card-disabled-text-2: #5a5a5e;
    --card-disabled-text-3: #4f4f53;
}

/* 
 * Medium Zoom
 * ========================================================================== */

.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image--opened {
    z-index: 31;
}