/* Iconify */

.text-with-icon {
    display: flex;
    align-items: center;
}

.text-with-icon .iconify {
    margin-right: 0.5em;
}

.icon-left .iconify {
    /* default */
    margin-right: 0.5em;
}

.icon-right .iconify {
    margin-right: 0;
    margin-left: 0.5em;
}

.icon-middle .iconify {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* Medium Zoom */

.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image--opened {
    z-index: 31;
}